<!doctype>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="https://likeastore.com/emails/pulse_weekly_images/favicon.png" />
<link rel="apple-touch-icon" href="https://likeastore.com/emails/pulse_weekly_images/favicon.png"/>
<title>Fantastic stuff from Likeastore!</title>
<style>
body { margin: 0; }
a { color: #f03e56; }
</style>
</head>
<body style="background-color: #f3f3f6; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
<table border="0" cellspacing="0" cellpadding="0" width="100%" style="background-color:#f3f3f6">

<tbody>
<tr>

<td>

<table border="0" cellspacing="0" cellpadding="0" align="center" style="width:640px;padding-left:20px;padding-right:20px">

<tbody>
<tr>
<td style="height:20px">
<div style="min-height:20px;min-height:20px;max-height:20px;vertical-align:top;overflow:hidden"></div>
</td>
</tr>

<tr>

<td>

<table border="0" cellspacing="0" cellpadding="0" width="100%">

<tbody>

<tr><td height="25"></td></tr>
<tr>
	<td>
		<table cellspacing="0" cellpadding="0" width="100%" style="background:#ffffff;color:#666;border-radius:5px;">
			<tbody>
				<tr>
					<td width="50px"></td>
					<td width="500">
						<table cellspacing="0" cellpadding="0" width="100%">
							<tbody>
								<tr>
									<td>
										<table cellspacing="0" cellpadding="0" width="100%" style="background:#ffffff;">

											<tbody>
												<tr height="30">
													<td colspan="3"></td>
												</tr>

												<tr style="background-color:#ffffff">

													<td width="40"></td>

													<td>

														<span style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:23px;color:#4f4f4f;text-align:center">

															<a href="https://likeastore.com" title="Likeastore" target="_blank">

																<img src="https://tour.likeastore.com/img/header_logo.png" width="520" height="66" border="0" alt="Likeastore"></a>

															<p style="font-size:22px;font-weight:900;padding:0;margin:20px 0 0;">Our collections had a great week.</p>

															<p style="margin:10px 45px 0;padding:0;font-size:16px">
																Follow the most popular collections and see what's trending on Likeastore!
															</p>
														</span>
													</td>
													<td width="20"></td>
												</tr>
												<tr height="20">
													<td colspan="3"></td>
												</tr>
												<tr style="background-color:#ffffff">
													<td colspan="3">
														
															<table cellspacing="0" cellpadding="0" width="500" align="center" style="margin:0 10px;padding:0">
	<tbody>
		<tr>
			<td height="30"></td>
		</tr>
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0" width="500" align="center">
					<tbody>
						<tr>
							<td>
								<table cellspacing="0" cellpadding="0" width="100%">
									<tbody>
										<tr>
											<td width="84" height="64" background="http://24.media.tumblr.com/6d451afa78d9852912c3d3f0fdd2dfab/tumblr_mp8fdizKVY1qeqiguo1_1280.jpg" valign="top" style="background-position: center;background-size: cover;background-repeat:no-repeat;background-color:#56c7aa;border-radius:2px;">
												<a href="" target="_blank"><div style="width:84px;min-height:64px"></div></a>
											</td>
											<td width="20"></td>
											<td style="text-align:left" valign="top">
												<a href="" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:19px;font-weight:bold;text-decoration:none;margin:0;color:#5b5b5b" target="_blank">Architecture</a>
												<br>
												<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;line-height:19px;color:#666;font-weight:normal;margin:6px 15px 4px 0">
													by <a href="http://beletsky.net" style="font-weight:bold;text-decoration:none;">alexander.beletsky</a>
												</p>
											</td>
											<td style="text-align:left" width="100" valign="top">
												<a style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-align:center;text-decoration:none;background-color: #56c7aa; background: linear-gradient(75deg, rgba(41,182,168,.96) 0%, rgba(86, 199, 170,.98) 120%); background: -webkit-linear-gradient(15deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%); background: linear-gradient(75deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);background-color:#56c7aa;display:block;border-radius:2px;color:#ffffff;padding:10px 25px;font-weight:bold;font-size:14px;white-space:nowrap" href="" target="_blank">Follow</a>

											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td height="30"></td>
		</tr>
	</tbody>
</table>
														
															<table cellspacing="0" cellpadding="0" width="500" align="center" style="border-top:1px solid #eeeeee;margin:0 10px;padding:0">
	<tbody>
		<tr>
			<td height="30"></td>
		</tr>
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0" width="500" align="center">
					<tbody>
						<tr>
							<td>
								<table cellspacing="0" cellpadding="0" width="100%">
									<tbody>
										<tr>
											<td width="84" height="64" background="http://i.vimeocdn.com/video/473226319_640.jpg" valign="top" style="background-position: center;background-size: cover;background-repeat:no-repeat;background-color:#56c7aa;border-radius:2px;">
												<a href="" target="_blank"><div style="width:84px;min-height:64px"></div></a>
											</td>
											<td width="20"></td>
											<td style="text-align:left" valign="top">
												<a href="" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:19px;font-weight:bold;text-decoration:none;margin:0;color:#5b5b5b" target="_blank">Surfing Sports</a>
												<br>
												<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;line-height:19px;color:#666;font-weight:normal;margin:6px 15px 4px 0">
													by <a href="http://beletsky.net" style="font-weight:bold;text-decoration:none;">Tim Peron</a>
												</p>
											</td>
											<td style="text-align:left" width="100" valign="top">
												<a style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-align:center;text-decoration:none;background-color: #56c7aa; background: linear-gradient(75deg, rgba(41,182,168,.96) 0%, rgba(86, 199, 170,.98) 120%); background: -webkit-linear-gradient(15deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%); background: linear-gradient(75deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);background-color:#56c7aa;display:block;border-radius:2px;color:#ffffff;padding:10px 25px;font-weight:bold;font-size:14px;white-space:nowrap" href="" target="_blank">Follow</a>

											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td height="30"></td>
		</tr>
	</tbody>
</table>
														
															<table cellspacing="0" cellpadding="0" width="500" align="center" style="border-top:1px solid #eeeeee;margin:0 10px;padding:0">
	<tbody>
		<tr>
			<td height="30"></td>
		</tr>
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0" width="500" align="center">
					<tbody>
						<tr>
							<td>
								<table cellspacing="0" cellpadding="0" width="100%">
									<tbody>
										<tr>
											<td width="84" height="64" background="http://i.vimeocdn.com/video/470446544_640.jpg" valign="top" style="background-position: center;background-size: cover;background-repeat:no-repeat;background-color:#feee43;border-radius:2px;">
												<a href="" target="_blank"><div style="width:84px;min-height:64px"></div></a>
											</td>
											<td width="20"></td>
											<td style="text-align:left" valign="top">
												<a href="" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:19px;font-weight:bold;text-decoration:none;margin:0;color:#5b5b5b" target="_blank">Inspiration</a>
												<br>
												<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;line-height:19px;color:#666;font-weight:normal;margin:6px 15px 4px 0">
													by <a href="http://beletsky.net" style="font-weight:bold;text-decoration:none;">Nikita Grinevich</a>
												</p>
											</td>
											<td style="text-align:left" width="100" valign="top">
												<a style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-align:center;text-decoration:none;background-color: #56c7aa; background: linear-gradient(75deg, rgba(41,182,168,.96) 0%, rgba(86, 199, 170,.98) 120%); background: -webkit-linear-gradient(15deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%); background: linear-gradient(75deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);background-color:#56c7aa;display:block;border-radius:2px;color:#ffffff;padding:10px 25px;font-weight:bold;font-size:14px;white-space:nowrap" href="" target="_blank">Follow</a>

											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td height="30"></td>
		</tr>
	</tbody>
</table>
														
															<table cellspacing="0" cellpadding="0" width="500" align="center" style="border-top:1px solid #eeeeee;margin:0 10px;padding:0">
	<tbody>
		<tr>
			<td height="30"></td>
		</tr>
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0" width="500" align="center">
					<tbody>
						<tr>
							<td>
								<table cellspacing="0" cellpadding="0" width="100%">
									<tbody>
										<tr>
											<td width="84" height="64" background="http://lamcdn.net/hopesandfears.com/post-cover/Qj-tkMB57ctiuEnauZh62A.jpg" valign="top" style="background-position: center;background-size: cover;background-repeat:no-repeat;background-color:#3498db;border-radius:2px;">
												<a href="" target="_blank"><div style="width:84px;min-height:64px"></div></a>
											</td>
											<td width="20"></td>
											<td style="text-align:left" valign="top">
												<a href="" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:19px;font-weight:bold;text-decoration:none;margin:0;color:#5b5b5b" target="_blank">Science</a>
												<br>
												<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;line-height:19px;color:#666;font-weight:normal;margin:6px 15px 4px 0">
													by <a href="http://beletsky.net" style="font-weight:bold;text-decoration:none;">wiseguy</a>
												</p>
											</td>
											<td style="text-align:left" width="100" valign="top">
												<a style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-align:center;text-decoration:none;background-color: #56c7aa; background: linear-gradient(75deg, rgba(41,182,168,.96) 0%, rgba(86, 199, 170,.98) 120%); background: -webkit-linear-gradient(15deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%); background: linear-gradient(75deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);background-color:#56c7aa;display:block;border-radius:2px;color:#ffffff;padding:10px 25px;font-weight:bold;font-size:14px;white-space:nowrap" href="" target="_blank">Follow</a>

											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td height="30"></td>
		</tr>
	</tbody>
</table>
														
															<table cellspacing="0" cellpadding="0" width="500" align="center" style="border-top:1px solid #eeeeee;margin:0 10px;padding:0">
	<tbody>
		<tr>
			<td height="30"></td>
		</tr>
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0" width="500" align="center">
					<tbody>
						<tr>
							<td>
								<table cellspacing="0" cellpadding="0" width="100%">
									<tbody>
										<tr>
											<td width="84" height="64" background="http://b.vimeocdn.com/ts/454/498/454498578_640.jpg" valign="top" style="background-position: center;background-size: cover;background-repeat:no-repeat;background-color:#eab6fd;border-radius:2px;">
												<a href="" target="_blank"><div style="width:84px;min-height:64px"></div></a>
											</td>
											<td width="20"></td>
											<td style="text-align:left" valign="top">
												<a href="" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:19px;font-weight:bold;text-decoration:none;margin:0;color:#5b5b5b" target="_blank">Design</a>
												<br>
												<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;line-height:19px;color:#666;font-weight:normal;margin:6px 15px 4px 0">
													by <a href="http://beletsky.net" style="font-weight:bold;text-decoration:none;">Valentine</a>
												</p>
											</td>
											<td style="text-align:left" width="100" valign="top">
												<a style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-align:center;text-decoration:none;background-color: #56c7aa; background: linear-gradient(75deg, rgba(41,182,168,.96) 0%, rgba(86, 199, 170,.98) 120%); background: -webkit-linear-gradient(15deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%); background: linear-gradient(75deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);background-color:#56c7aa;display:block;border-radius:2px;color:#ffffff;padding:10px 25px;font-weight:bold;font-size:14px;white-space:nowrap" href="" target="_blank">Follow</a>

											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td height="30"></td>
		</tr>
	</tbody>
</table>
														
															<table cellspacing="0" cellpadding="0" width="500" align="center" style="border-top:1px solid #eeeeee;margin:0 10px;padding:0">
	<tbody>
		<tr>
			<td height="30"></td>
		</tr>
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0" width="500" align="center">
					<tbody>
						<tr>
							<td>
								<table cellspacing="0" cellpadding="0" width="100%">
									<tbody>
										<tr>
											<td width="84" height="64" background="http://37.media.tumblr.com/d97ab61794c173219c2e937025953761/tumblr_n78aj7rGMq1qhci8no1_1280.jpg" valign="top" style="background-position: center;background-size: cover;background-repeat:no-repeat;background-color:#feee43;border-radius:2px;">
												<a href="" target="_blank"><div style="width:84px;min-height:64px"></div></a>
											</td>
											<td width="20"></td>
											<td style="text-align:left" valign="top">
												<a href="" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:19px;font-weight:bold;text-decoration:none;margin:0;color:#5b5b5b" target="_blank">Art</a>
												<br>
												<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;line-height:19px;color:#666;font-weight:normal;margin:6px 15px 4px 0">
													by <a href="http://beletsky.net" style="font-weight:bold;text-decoration:none;">Tim Peron</a>
												</p>
											</td>
											<td style="text-align:left" width="100" valign="top">
												<a style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-align:center;text-decoration:none;background-color: #56c7aa; background: linear-gradient(75deg, rgba(41,182,168,.96) 0%, rgba(86, 199, 170,.98) 120%); background: -webkit-linear-gradient(15deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%); background: linear-gradient(75deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);background-color:#56c7aa;display:block;border-radius:2px;color:#ffffff;padding:10px 25px;font-weight:bold;font-size:14px;white-space:nowrap" href="" target="_blank">Follow</a>

											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td height="30"></td>
		</tr>
	</tbody>
</table>
														
															<table cellspacing="0" cellpadding="0" width="500" align="center" style="border-top:1px solid #eeeeee;margin:0 10px;padding:0">
	<tbody>
		<tr>
			<td height="30"></td>
		</tr>
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0" width="500" align="center">
					<tbody>
						<tr>
							<td>
								<table cellspacing="0" cellpadding="0" width="100%">
									<tbody>
										<tr>
											<td width="84" height="64" background="https://d13yacurqjgara.cloudfront.net/users/19434/screenshots/1345888/mediabox_albums_1x.png" valign="top" style="background-position: center;background-size: cover;background-repeat:no-repeat;background-color:#feee43;border-radius:2px;">
												<a href="" target="_blank"><div style="width:84px;min-height:64px"></div></a>
											</td>
											<td width="20"></td>
											<td style="text-align:left" valign="top">
												<a href="" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:19px;font-weight:bold;text-decoration:none;margin:0;color:#5b5b5b" target="_blank">UI and UX</a>
												<br>
												<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;line-height:19px;color:#666;font-weight:normal;margin:6px 15px 4px 0">
													by <a href="http://pixelhunter.me" style="font-weight:bold;text-decoration:none;">voronianski</a>
												</p>
											</td>
											<td style="text-align:left" width="100" valign="top">
												<a style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-align:center;text-decoration:none;background-color: #56c7aa; background: linear-gradient(75deg, rgba(41,182,168,.96) 0%, rgba(86, 199, 170,.98) 120%); background: -webkit-linear-gradient(15deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%); background: linear-gradient(75deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);background-color:#56c7aa;display:block;border-radius:2px;color:#ffffff;padding:10px 25px;font-weight:bold;font-size:14px;white-space:nowrap" href="" target="_blank">Follow</a>

											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td height="30"></td>
		</tr>
	</tbody>
</table>
														
															<table cellspacing="0" cellpadding="0" width="500" align="center" style="border-top:1px solid #eeeeee;margin:0 10px;padding:0">
	<tbody>
		<tr>
			<td height="30"></td>
		</tr>
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0" width="500" align="center">
					<tbody>
						<tr>
							<td>
								<table cellspacing="0" cellpadding="0" width="100%">
									<tbody>
										<tr>
											<td width="84" height="64" background="https://pbs.twimg.com/media/BBfcIa3CEAAPVh2.png" valign="top" style="background-position: center;background-size: cover;background-repeat:no-repeat;background-color:#56c7aa;border-radius:2px;">
												<a href="" target="_blank"><div style="width:84px;min-height:64px"></div></a>
											</td>
											<td width="20"></td>
											<td style="text-align:left" valign="top">
												<a href="" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:19px;font-weight:bold;text-decoration:none;margin:0;color:#5b5b5b" target="_blank">Software Development</a>
												<br>
												<p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;line-height:19px;color:#666;font-weight:normal;margin:6px 15px 4px 0">
													by <a href="http://beletsky.net" style="font-weight:bold;text-decoration:none;">John Likemen</a>
												</p>
											</td>
											<td style="text-align:left" width="100" valign="top">
												<a style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-align:center;text-decoration:none;background-color: #56c7aa; background: linear-gradient(75deg, rgba(41,182,168,.96) 0%, rgba(86, 199, 170,.98) 120%); background: -webkit-linear-gradient(15deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%); background: linear-gradient(75deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);background-color:#56c7aa;display:block;border-radius:2px;color:#ffffff;padding:10px 25px;font-weight:bold;font-size:14px;white-space:nowrap" href="" target="_blank">Follow</a>

											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td height="30"></td>
		</tr>
	</tbody>
</table>
														
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td width="50px"></td>
				</tr>
				<tr height="15px"></tr>
			</tbody>
		</table>
	</td>
</tr>

<tr><td height="25"></td></tr>
<tr>
	<td>
		<table cellspacing="0" cellpadding="0" width="100%" style="background:#ffffff;color:#666;border-radius:5px;">
			<tbody>
				<tr>
					<td width="50px"></td>
					<td width="500">
						<table cellspacing="0" cellpadding="0" width="100%">
							<tbody>
								<tr>
									<td>
										<table cellspacing="0" cellpadding="0" width="100%">
											<tbody>
												<tr>
													<td height="35"></td>
												</tr>
												<tr>
													<td>
														<h1 style="margin:0;padding:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:21px;font-weight:bold;color:#555;text-align:center;text-decoration:none">Other favorites are waiting for you!</h1>
													</td>
												</tr>
												<tr>
													<td height="30"></td>
												</tr>
												<tr>
													<td height="52" style="text-align:center;padding:0;margin:0;width:100%;background-color: #56c7aa; background: linear-gradient(75deg, rgba(41,182,168,.96) 0%, rgba(86, 199, 170,.98) 120%); background: -webkit-linear-gradient(15deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%); background: linear-gradient(75deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);border-radius:2px">
														<a style="text-decoration:none;color:#fff;font-size:18px;font-weight:bold;display:block;width:100%;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif" href="https://likeastore.com" target="_blank">Take me to Likeastore</a>
													</td>
												</tr>
												<tr>
													<td height="20"></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td width="50px"></td>
				</tr>
				<tr height="15px"></tr>
			</tbody>
		</table>
	</td>
</tr>

<tr><td height="25"></td></tr>

<tr>
	<td>
		<table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" style="background:#ffffff;border-radius:6px">
			<tbody>
				<tr>
					<td align="center">
						<a href="https://itunes.apple.com/us/app/likeastore/id88190295" style="text-decoration:none" target="_blank">

							<table border="0" cellspacing="0" width="100%">

								<tbody>
									<tr>

										<td style="width:160px;padding:20px 0 20px 40px">
											<img border="0" src="https://tour.likeastore.com/img/small_iphone.png" alt="Download our iPhone app" style="width:124px;min-height:143px"></td>
										<td style="font-family:sans-serif;font-weight:bold;text-align:left;padding:20px 40px 20px 0">
											<div style="color:#555;font-size:21px;margin-bottom:10px">Like anything, from anywhere.</div>
											<div style="padding:6px 18px;border-radius:3px;text-align:center;background-color:#f03e56;color:#ffffff;font-size:14px;display:inline-block">Download our iPhone app</div>
										</td>
									</tr>
								</tbody>
							</table>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>

<tr>
<td height="20"></td>
</tr>

<tr>

<td>

<table border="0" cellspacing="0" cellpadding="0" width="100%" style="padding-bottom:10px">
<tbody>
	<tr>
		<td valign="top" width="150">
			<a href="https://likeastore.com" title="Likeastore" target="_blank"><img src="https://likeastore.com/emails/pulse_weekly_images/foot_logo.png" width="150" border="0" alt="Likeastore"></a>
		</td>

		<td valign="top" align="right" width="*" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:11px;line-height:15px;color:#9d9d9d">
			<span>75 Zhylianska Str., 4th Floor.</span> <span>Kyiv, Ukraine, 01032.<br></span>
			<a href="https://app.likeastore.com" style="color:#666;text-decoration:none;font-weight:bold" target="_blank">Application</a> | <a href="http://blog.likeastore.com" style="color:#666;text-decoration:none;font-weight:bold" target="_blank">Blog</a> | <a href="https://likeastore.com/unsubscribe?u=123" style="color:#666;text-decoration:none;font-weight:bold" target="_blank">Unsubscribe</a>
		</td>
	</tr>

</tbody>
</table>

</td>

</tr>

</tbody>
</table>

</td>

</tr>

<tr>
<td style="height:20px">
<div style="min-height:20px;min-height:20px;max-height:20px;vertical-align:top;overflow:hidden"></div>
</td>
</tr>

</tbody>
</table>

</td>

</tr>

</tbody>
</table>
</body>
</html>