<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<link rel="shortcut icon" href="/img/favicon.ico" />

	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header class="main-header clearfix">
		<h1>Likeastore Emails System.</h1>
		<p>on environment: <%= env %></p>
	</header>
	<div class="main-viewer">
		<form action="/api/send/september" method="post">
			<button type="submit">Send September Announce</button>
		</form>
	</div>

	<div class="main-viewer">
		<form action="/api/send/disabled" method="post">
			<button type="submit">Send Disabled Networks</button>
		</form>
	</div>

	<div class="main-viewer">
		<form action="/api/send/january" method="post">
			<button type="submit">Send January Announce</button>
		</form>
	</div>

	<div class="main-viewer">
		<form action="/api/send/discovery" method="post">
			<button type="submit">Send Discovery Announce</button>
		</form>
	</div>

	<div class="main-viewer">
		<form action="/api/send/march" method="post">
			<button type="submit">Send March Announce</button>
		</form>
	</div>

</body>
</html>