<!doctype>
<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="https://likeastore.com/emails/pulse_weekly_images/favicon.png" />
	<link rel="apple-touch-icon" href="https://likeastore.com/emails/pulse_weekly_images/favicon.png"/>
	<title>Welcome to Likeastore!</title>
	<style>
		body { margin: 0; }
		a { color: #56C7AA; }
	</style>
</head>
<body style="background-color: #f3f3f6; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%; background-color:#f3f3f6">
<tbody>
<tr>
<td style="background-color: #56c7aa; background: linear-gradient(75deg, rgba(41,182,168,.96) 0%, rgba(86, 199, 170,.98) 120%); background: -webkit-linear-gradient(15deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%); background: linear-gradient(75deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);border-bottom: 1px solid rgba(0, 0, 0, 0.1);" align="center">
<table cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td style="width: 600px;">
<table cellspacing="0" cellpadding="0" border="0" style="width:600px;padding-left:20px;padding-right:20px;border-collapse:separate;">
	<tbody>
		<tr>
			<td valign="middle" align="center" style="width: 500px;" height="36">
				<a href="https://likeastore.com" title="Likeastore" target="_blank"><img src="https://likeastore.com/emails/pulse_weekly_images/logo-likeastore.png" border="0" alt="likestore logo" width="120"></a>
			</td>
		</tr>
	</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="height:35px">
<div style="min-height:35px;min-height:35px;max-height:35px;vertical-align:top;overflow:hidden"></div>
</td>
</tr>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" align="center" style="width:600px;padding-left:20px;padding-right:20px;border-collapse:separate">
<tbody>
<tr>
<td>
<table cellpadding="0" cellspacing="0" style="line-height:22px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:14px; color: #666">
	<tbody>
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0" width="100%" style="background:#ffffff;color:#666;border-radius:5px;">
					<tbody>
						<tr>
							<td width="50px"></td>
							<td width="500">
								<table cellspacing="0" cellpadding="0" width="100%">
									<tbody>
										<tr>
											<td>
												<table cellspacing="0" cellpadding="0" width="100%">
													<tbody>
														<tr>
															<td height="30"></td>
														</tr>
														<tr>
															<td>
																<h1 style="margin:0;padding:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:21px;font-weight:bold;color:#444;text-align:center;text-decoration:none">Hello *|USER_NAME|*</h1>
															</td>
														</tr>
														<tr>
															<td height="20"></td>
														</tr>
														<tr>
															<td style="margin:0;padding-bottom:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:15px;color:#666;text-align:left;text-decoration:none;line-height:22px;">
																<p>Thanks a lot for signing up with Likeastore.</p>
																<p>As you connect the networks your likes will be collected instantly. Meanwhile, please take a few seconds and click button below so we can verify your email.</p>

															</td>
														</tr>
														<tr>
															<td height="20"></td>
														</tr>
														<tr>
															<td height="52" style="text-align:center;padding:0;margin:0;width:100%;background-color: #56c7aa; background: linear-gradient(75deg, rgba(41,182,168,.96) 0%, rgba(86, 199, 170,.98) 120%); background: -webkit-linear-gradient(15deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%); background: linear-gradient(75deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);border-radius:2px">
																<a style="text-decoration:none;color:#fff;font-size:18px;font-weight:bold;display:block;width:100%;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif" href="https://likeastore.com/verify?u=*|USERID|*" target="_blank">Verify my Email</a>
															</td>
														</tr>
														<tr>
															<td height="20"></td>
														</tr>
														<tr style="margin:0;padding-bottom:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:15px;color:#666;text-align:left;text-decoration:none;line-height:22px;">
															<td>
																<p>Likeastore Team,</p>
															</td>
														</tr>
														<tr>
															<td height="20"></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="50px"></td>
						</tr>
						<tr height="15px"></tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr><td height="25"></td></tr>

		<!-- Footer -->
		<tr><td height="25"></td></tr>
		<tr>
			<td>
				<table border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
					<tbody>
						<tr>
							<td valign="top" width="150">
								<a href="https://likeastore.com" title="Likeastore" target="_blank"><img src="https://likeastore.com/emails/pulse_weekly_images/foot_logo.png" width="150" border="0" alt="Likeastore"></a>
							</td>
							<td valign="top" align="right" width="*" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:11px;line-height:15px;color:#9d9d9d">
								<span>75 Zhylianska Str., 4th Floor.</span> <span>Kyiv, Ukraine, 01032.<br></span>
								<a href="https://app.likeastore.com" style="color:#666;text-decoration:none;font-weight:bold" target="_blank">Application</a> | <a href="http://blog.likeastore.com" style="color:#666;text-decoration:none;font-weight:bold" target="_blank">Blog</a> | <a href="https://likeastore.com/unsubscribe?u=*|USERID|*" style="color:#666;text-decoration:none;font-weight:bold" target="_blank">Unsubscribe</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr><td height="30"></td></tr>
	</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</body>
