<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Likeastore Release Mail</title>
	<style>
	body {
		border-top: 5px solid #fff;
	}

	a {
		color:#3ca7dd !important;
		text-decoration:none;
	}

	a:hover {
		text-decoration: underline !important;
	}
	</style>
</head>
<body bgcolor="#f9f9f9" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing: antialiased;width:100% !important;background:#e4e4e4;-webkit-text-size-adjust:none;">

	<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f9f9f9">
		<tr>
			<td bgcolor="#f9f9f9" width="100%">

				<table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
					<tr>
						<td width="600" class="cell">

							<table width="600" cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td width="250" bgcolor="#f9f9f9" class="logocell">
										<img border="0" src="https://likeastore.com/img/email/spacer.gif" width="1" height="20" class="hide">
										<br class="hide">
										<a href="https://likeastore.com/" target="_blank"><img src="https://likeastore.com/img/email/likeastore-logo.png" width="130" height="43" alt="likeastore" style="-ms-interpolation-mode:bicubic;"></a>
										<br>
										<img border="0" src="https://likeastore.com/img/email/spacer.gif" width="1" height="10" class="hide">
										<br class="hide"></td>
								</tr>
							</table>

							<img border="0" src="https://likeastore.com/img/email/header.png" alt="likeastore-screenshot" width="600" height="300">

							<table width="600" cellpadding="25" cellspacing="0" border="0">
								<tr>
									<td bgcolor="#456265" width="600">
										<p style="color:#edf0f2;font-size:16px;line-height:26px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:14px;font-weight:normal;">
											After our first public release we have worked a lot to bring new features live as soon as possible. So today you're welcome to enjoy some of them!
										</p>
									</td>
								</tr>
							</table>

							<img border="0" src="https://likeastore.com/img/email/spacer.gif" width="1" height="15" class="divider">
							<br>

							<table width="100%" cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td bgcolor="#85bdad" nowrap>
										<img border="0" src="https://likeastore.com/img/email/spacer.gif" width="5" height="1"></td>
									<td width="100%" bgcolor="#ffffff">

										<table width="100%" cellpadding="20" cellspacing="0" border="0">
											<tr>
												<td bgcolor="#ffffff">

													<h4 style="color:#444;font-size:16px;line-height:24px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:10px;padding-top:0;padding-bottom:0;font-weight:normal;"> <strong>Full Text Search</strong>
													</h4>
													<p style="color:#888888;font-size:13px;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:12px;padding-top:0;padding-bottom:0;font-weight:normal;">
														Start searching your likes through our amazing full-text search feature! We support English language for now, but plan to provide support for 30+ languages soon. Finding information becomes even more easier. Try it!
													</p>

												</td>
											</tr>
										</table>

									</td>
								</tr>
							</table>
							<img border="0" src="https://likeastore.com/img/email/spacer.gif" width="1" height="15" class="divider">
							<br>
							<table width="100%" cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td bgcolor="#ef3101" nowrap>
										<img border="0" src="https://likeastore.com/img/email/spacer.gif" width="5" height="1"></td>
									<td width="100%" bgcolor="#ffffff">

										<table width="100%" cellpadding="20" cellspacing="0" border="0">
											<tr>
												<td bgcolor="#ffffff">

													<h4 style="color:#444;font-size:16px;line-height:24px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:10px;padding-top:0;padding-bottom:0;font-weight:normal;"> <strong>Facebook Likes</strong>
													</h4>
													<p style="color:#888888;font-size:13px;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:12px;padding-top:0;padding-bottom:0;font-weight:normal;">
														Welcome new collector on likeastore that a lot of people were waiting for! From now your facebook likes will be stored in a very safe place.
													</p>

												</td>
											</tr>
										</table>

									</td>
								</tr>
							</table>
							<img border="0" src="https://likeastore.com/img/email/spacer.gif" width="1" height="15" class="divider">
							<br>
							<table width="100%" cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td bgcolor="#832701" nowrap>
										<img border="0" src="https://likeastore.com/img/email/spacer.gif" width="5" height="1"></td>
									<td width="100%" bgcolor="#ffffff">

										<table width="100%" cellpadding="20" cellspacing="0" border="0">
											<tr>
												<td bgcolor="#ffffff">

													<h4 style="color:#444;font-size:16px;line-height:24px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:10px;padding-top:0;padding-bottom:0;font-weight:normal;">
														<strong>Updated UI/UX</strong>
													</h4>
													<p style="color:#888888;font-size:13px;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:12px;padding-top:0;padding-bottom:0;font-weight:normal;">
														We were also improving and optimizing our UI. Making application more beautiful and pleasant to use.
													</p>

												</td>
											</tr>
										</table>

									</td>
								</tr>
							</table>

							<img border="0" src="https://likeastore.com/img/email/spacer.gif" width="1" height="15" class="divider">
							<br>
							<table width="100%" cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td bgcolor="#85bdad" nowrap>
										<img border="0" src="https://likeastore.com/img/email/spacer.gif" width="5" height="1"></td>
									<td width="100%" bgcolor="#ffffff">

										<table width="100%" cellpadding="20" cellspacing="0" border="0">
											<tr>
												<td bgcolor="#ffffff">

													<h4 style="color:#444;font-size:16px;line-height:24px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:10px;padding-top:0;padding-bottom:0;font-weight:normal;">
														<strong>Last but not least</strong>
													</h4>

													<p style="color:#888888;font-size:13px;line-height:19px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:12px;padding-top:0;padding-bottom:0;font-weight:normal;">
														We have received a lot of feedback from you guys, thanks a lot for sharing your opinion with us. All requests for new services support are planned and will be executed as soon as possible. Please stay in touch with us by our <a href="http://twitter.com/likeastore">twitter</a> or <a href="http://www.facebook.com/likeastore">facebook</a> page. If you are in mood, drop us a <a href="mailto:info@likeastore.com">line</a> it's always great to hearing from you.
													</p>
												</td>
											</tr>
										</table>

									</td>
								</tr>
							</table>
							<img border="0" src="https://likeastore.com/img/email/spacer.gif" width="1" height="15" class="divider">
							<br></td>
					</tr>
				</table>

				<img border="0" src="https://likeastore.com/img/email/spacer.gif" width="1" height="25" class="divider">
				<br>

				<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f2f2f2">
					<tr>
						<td>

							<img border="0" src="https://likeastore.com/img/email/spacer.gif" width="1" height="30">
							<br>

							<table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td width="600" nowrap bgcolor="#f2f2f2">

										<table width="600" cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td width="380" valign="top">

													<img border="0" src="https://likeastore.com/img/email/spacer.gif" width="1" height="8">
													<br>

													<p style="color:#a6a6a6;font-size:12px;font-family:Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:15px;padding-top:0;padding-bottom:0;line-height:18px;">
														You’re receiving this because you’re an awesome
														<a href="https://likeastore.com/" style="color:#a6a6a6;text-decoration:underline;" target="_blank">likeastore</a>
														application user. Thanks for being a part of our service!
													</p>

												</td>
												<td align="right" width="220" style="color:#a6a6a6;font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-shadow: 0 1px 0 #ffffff;" valign="top" class="hide">

													<table cellpadding="0" cellspacing="0" border="0">
														<tr>
															<td>
																<a href="http://twitter.com/likeastore" target="_blank">
																	<img border="0" src="https://likeastore.com/img/email/twitter.gif" width="42" height="32" alt="Follow us on Twitter"></a>
															</td>
															<td>
																<a href="http://www.facebook.com/likeastore" target="_blank">
																	<img border="0" src="https://likeastore.com/img/email/facebook.gif" width="32" height="32" alt="Visit us on Facebook"></a>
															</td>
														</tr>
													</table>

													<img border="0" src="https://likeastore.com/img/email/spacer.gif" width="1" height="10">
													<br>
													<p style="color:#b3b3b3;font-size:11px;line-height:15px;font-family:Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;font-weight:bold;">&#9426; 2013 likeastore</p>
													<p style="color:#b3b3b3;font-size:11px;line-height:15px;font-family:Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;font-weight:normal;">Handcrafted with love in Kiev, Ukraine</p>
												</td>
											</tr>
										</table>

									</td>
								</tr>
							</table>

							<img border="0" src="https://likeastore.com/img/email/spacer.gif" width="1" height="25">
							<br></td>
					</tr>
				</table>

			</td>
		</tr>
	</table>

</body>
</html>