<!doctype>
<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="https://likeastore.com/emails/pulse_weekly_images/favicon.png" />
	<link rel="apple-touch-icon" href="https://likeastore.com/emails/pulse_weekly_images/favicon.png"/>
	<title>Following your collection</title>
	<style>
		body { margin: 0; }
		a { color: #56C7AA; }
	</style>
</head>
<body style="background-color: #f3f3f6; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%; background-color:#f3f3f6">
<tbody>
<tr>
<td style="height:35px">
<div style="min-height:35px;min-height:35px;max-height:35px;vertical-align:top;overflow:hidden"></div>
</td>
</tr>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" align="center" style="width:600px;padding-left:20px;padding-right:20px;border-collapse:separate">
<tbody>
<tr>
<td>
<table cellpadding="0" cellspacing="0" style="line-height:22px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:14px; color: #666">
	<tbody>
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0" width="100%" style="background:#ffffff;color:#666;border-radius:5px;">
					<tbody>
						<tr>
							<td width="50px"></td>
							<td width="500">
								<table cellspacing="0" cellpadding="0" width="100%">
									<tbody>
										<tr>
											<td>
												<table cellspacing="0" cellpadding="0" width="100%">
													<tbody>
														<tr>
															<td height="30"></td>
														</tr>
														<tr>
															<td valign="middle" height="64" width="64">
																<a href="https://app.likeastore.com/u/*|USER_NAME|*"><img src="*|USER_AVATAR|*" width="64" height="64" style="border-radius:100%;padding:4px;border:1px solid #ddd;"></a>
															</td>
															<td width="20">&nbsp;</td>
															<td style="margin:0;padding-bottom:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:18px;color:#555;text-align:left;text-decoration:none;line-height:24px;">
																Wow! <a href="https://app.likeastore.com/u/*|USER_NAME|*" style="font-weight:bold;color:#F03E56;text-decoration:underline"><b>*|USER_NAME|*</b></a> is now following your <a href="https://app.likeastore.com/u/*|USER_NAME|*/*|COLLECTION_ID|*" style="font-weight:bold;color:#F03E56;text-decoration:underline"><b>"*|COLLECTION_TITLE|*"</b></a> collection.
															</td>
														</tr>
														<tr>
															<td height="30"></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="50px"></td>
						</tr>
						<tr height="15px"></tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr><td height="25"></td></tr>

		<!-- Footer -->
		<tr>
			<td>
				<table border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
					<tbody>
						<tr>
							<td valign="top" width="150">
								<a href="https://likeastore.com" title="Likeastore" target="_blank"><img src="https://likeastore.com/emails/pulse_weekly_images/foot_logo.png" width="150" border="0" alt="Likeastore"></a>
							</td>
							<td valign="top" align="right" width="*" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:11px;line-height:15px;color:#9d9d9d">
								<span>75 Zhylianska Str., 4th Floor.</span> <span>Kyiv, Ukraine, 01032.<br></span>
								<a href="https://app.likeastore.com" style="color:#666;text-decoration:none;font-weight:bold" target="_blank">Application</a> | <a href="http://blog.likeastore.com" style="color:#666;text-decoration:none;font-weight:bold" target="_blank">Blog</a> | <a href="https://likeastore.com/unsubscribe?u=*|USERID|*" style="color:#666;text-decoration:none;font-weight:bold" target="_blank">Unsubscribe</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr><td height="30"></td></tr>
	</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</body>
