<!doctype>
<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/img/logo.png" />
	<link rel="apple-touch-icon" href="/img/logo.png"/>
	<title>Likeastore Pulse Weekly</title>
	<style>
		body { margin: 0; }
		a { color: #56C7AA; }
	</style>
</head>
<body style="background-color: #f3f3f6; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%; background-color:#f3f3f6">
<tbody>
<tr>
<td style="background-color: #56c7aa; background: linear-gradient(75deg, rgba(41,182,168,.96) 0%, rgba(86, 199, 170,.98) 120%); background: -webkit-linear-gradient(15deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%); background: linear-gradient(75deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);border-bottom: 1px solid rgba(0, 0, 0, 0.1);" align="center">
<table cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td style="width: 600px;">
<table cellspacing="0" cellpadding="0" border="0" style="width:600px;padding-left:20px;padding-right:20px;border-collapse:separate;">
	<tbody>
		<tr>
			<td valign="middle" align="left" style="width: 500px;" height="36">
				<a href="https://likeastore.com" title="Likeastore" target="_blank"><img src="images/logo-likeastore.png" border="0" alt="likestore logo" width="120"></a>
			</td>
			<td align="right">
				<a href="https://likeastore.com/pulse" title="Likeastore" target="_blank"><img src="images/pulse-text.png" border="0" alt="likestore logo" width="50"></a>
			</td>
		</tr>
	</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="height:35px">
<div style="min-height:35px;min-height:35px;max-height:35px;vertical-align:top;overflow:hidden"></div>
</td>
</tr>
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="0" align="center" style="width:600px;padding-left:20px;padding-right:20px;border-collapse:separate">
<tbody>
<tr>
<td>
<table cellpadding="0" cellspacing="0" style="line-height:22px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:14px; color: #666">
	<tbody>
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0" width="100%" style="background:#ffffff;color:#666;border-radius:5px;">
					<tbody>
						<tr>
							<td width="50px"></td>
							<td width="500">
								<table cellspacing="0" cellpadding="0" width="100%">
									<tbody>
										<tr>
											<td>
												<table cellspacing="0" cellpadding="0" width="100%">
													<tbody>
														<tr>
															<td height="30"></td>
														</tr>
														<tr>
															<td align="center">
																<img src="images/pulse.png" alt="pulse logo" width="100">
															</td>
														</tr>
														<tr>
															<td height="20"></td>
														</tr>
														<tr>
															<td>
																<h1 style="margin:0;padding:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:21px;font-weight:bold;color:#555;text-align:center;text-decoration:none">Popular favorites throughout the web</h1>
															</td>
														</tr>
														<tr>
															<td height="20"></td>
														</tr>
														<tr>
															<td style="margin:0;padding-bottom:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:15px;color:#666;text-align:center;text-decoration:none;line-height:22px;">
																Pulse is about what is trendy this week in the app.<br>
																Thanks for contribution to pulse, you are awesome!
															</td>
														</tr>
														<tr>
															<td height="30"></td>
														</tr>
														<tr>
															<td height="52" style="text-align:center;padding:0;margin:0;width:100%;background-color: #56c7aa; background: linear-gradient(75deg, rgba(41,182,168,.96) 0%, rgba(86, 199, 170,.98) 120%); background: -webkit-linear-gradient(15deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%); background: linear-gradient(75deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);border-radius:2px">
																<a style="text-decoration:none;color:#fff;font-size:18px;font-weight:bold;display:block;width:100%;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif" href="https://likeastore.com/pulse?utm_source=pulse-weekly&utm_medium=email&utm_campaign=pulse" target="_blank">Show me more</a>
															</td>
														</tr>
														<tr>
															<td height="20"></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="50px"></td>
						</tr>
						<tr height="15px"></tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr><td height="25"></td></tr>
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0" width="100%" style="background:#ffffff;color:#666;border-radius:5px;">
					<tbody>
						<tr>
							<td width="50px"></td>
							<td width="500">
								<table cellspacing="0" cellpadding="0" width="100%">
									<tbody>
										<tr>
											<td>
												<table cellspacing="0" cellpadding="0" width="100%">
													<tbody>
														<tr>
															<td height="30"></td>
														</tr>
														<tr>
															<td>
																<a href style="border:0;margin:0;padding:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:21px;font-weight:bold;color:#F03E56;text-align:center;text-decoration:none"><h1 style="margin:0;padding:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:21px;font-weight:bold;color:#F03E56;text-align:center;text-decoration:none">Taikuutta koirille - Magic for dogs</h1></a>
															</td>
														</tr>
														<tr>
															<td height="20"></td>
														</tr>
														<tr>
															<td style="margin:0;padding-bottom:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:15px;line-height:21px;color:#666;">
																Do dogs react to magic? Watch as magician & mentalist Jose Ahonen vanished some dog treats under their noses. By the way, all the dogs got treats before and after the trick :)
																Part II coming soon, be sure to subscribe to be the first to..."
															</td>
														</tr>
														<tr height="20"><td></td></tr>
														<tr>
															<td style="border-top:1px solid #eee;">
																<table cellspacing="0" cellpadding="0" width="100%">
																	<tbody>
																		<tr height="15">
																			<td colspan="2"></td>
																		</tr>
																		<tr>
																			<td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:bold;line-height:30px;text-align:left">
																				<span style="color:#999;text-decoration:none" href="" target="_blank">2 likes</span>
																			</td>
																			<td align="right">
																				<table cellspacing="0" cellpadding="0">
																					<tbody>
																						<tr>
																							<td width="19">
																								<a href="" title="" style="border:0" target="_blank"><img src="images/youtube.png" height="26" width="26" style="border:0"></a>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td height="10"></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="50px"></td>
						</tr>
						<tr height="15px"></tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr><td height="25"></td></tr>
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0" width="100%" style="background:#ffffff;color:#666;border-radius:5px;">
					<tbody>
						<tr>
							<td width="50px"></td>
							<td width="500">
								<table cellspacing="0" cellpadding="0" width="100%">
									<tbody>
										<tr>
											<td>
												<table cellspacing="0" cellpadding="0" width="100%">
													<tbody>
														<tr>
															<td height="30"></td>
														</tr>
														<tr>
															<td>
																<a href style="border:0;margin:0;padding:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:21px;font-weight:bold;color:#F03E56;text-align:center;text-decoration:none"><h1 style="margin:0;padding:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:21px;font-weight:bold;color:#F03E56;text-align:center;text-decoration:none">Dashboard of trees</h1></a>
															</td>
														</tr>
														<tr>
															<td height="20"></td>
														</tr>
														<tr>
															<td style="margin:0;padding-bottom:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:15px;line-height:21px;color:#666;" align="center">
																<a href="" style="border:0;text-decoration:none;"><img src="http://d13yacurqjgara.cloudfront.net/users/389196/screenshots/1475962/travel_1x.png" width="100%" border="0"></a>
															</td>
														</tr>
														<tr>
															<td height="20"></td>
														</tr>
														<tr>
															<td style="margin:0;padding-bottom:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:15px;line-height:21px;color:#666;">
																Do dogs react to magic? Watch as magician & mentalist Jose Ahonen vanished some dog treats under their noses. By the way, all the dogs got treats before and after the trick
															</td>
														</tr>
														<tr height="20"><td></td></tr>
														<tr>
															<td style="border-top:1px solid #eee;">
																<table cellspacing="0" cellpadding="0" width="100%">
																	<tbody>
																		<tr height="15">
																			<td colspan="2"></td>
																		</tr>
																		<tr>
																			<td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:bold;line-height:30px;text-align:left">
																				<span style="color:#999;text-decoration:none" href="" target="_blank">2 likes</span>
																			</td>
																			<td align="right">
																				<table cellspacing="0" cellpadding="0">
																					<tbody>
																						<tr>
																							<td width="19">
																								<a href="" title="" style="border:0" target="_blank"><img src="images/youtube.png" height="26" width="26" style="border:0"></a>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td height="10"></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="50px"></td>
						</tr>
						<tr height="15px"></tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr><td height="25"></td></tr>
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0" width="100%" style="background:#ffffff;color:#666;border-radius:5px;">
					<tbody>
						<tr>
							<td width="50px"></td>
							<td width="500">
								<table cellspacing="0" cellpadding="0" width="100%">
									<tbody>
										<tr>
											<td>
												<table cellspacing="0" cellpadding="0" width="100%">
													<tbody>
														<tr>
															<td height="30"></td>
														</tr>
														<tr>
															<td>
																<a href style="border:0;margin:0;padding:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:21px;font-weight:bold;color:#F03E56;text-align:center;text-decoration:none"><h1 style="margin:0;padding:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:21px;font-weight:bold;color:#F03E56;text-align:center;text-decoration:none">Facebook for business</h1></a>
															</td>
														</tr>
														<tr>
															<td height="20"></td>
														</tr>
														<tr>
															<td style="margin:0;padding-bottom:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:15px;line-height:21px;color:#666;">
																Over a billion people use Facebook to connect and share the things they care about. Whether you’re just getting started with Facebook for your business, or you're ready to optimize your Facebook presence to meet specific goals, we're her...
															</td>
														</tr>
														<tr height="20"><td></td></tr>
														<tr>
															<td style="border-top:1px solid #eee;">
																<table cellspacing="0" cellpadding="0" width="100%">
																	<tbody>
																		<tr height="15">
																			<td colspan="2"></td>
																		</tr>
																		<tr>
																			<td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:bold;line-height:30px;text-align:left">
																				<span style="color:#999;text-decoration:none" href="" target="_blank">15 likes</span>
																			</td>
																			<td align="right">
																				<table cellspacing="0" cellpadding="0">
																					<tbody>
																						<tr>
																							<td width="19">
																								<a href="" title="" style="border:0" target="_blank"><img src="images/facebook.png" height="26" width="26" style="border:0"></a>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td height="10"></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="50px"></td>
						</tr>
						<tr height="15px"></tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr><td height="25"></td></tr>
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0" width="100%" style="background:#ffffff;color:#666;border-radius:5px;">
					<tbody>
						<tr>
							<td width="50px"></td>
							<td width="500">
								<table cellspacing="0" cellpadding="0" width="100%">
									<tbody>
										<tr>
											<td>
												<table cellspacing="0" cellpadding="0" width="100%">
													<tbody>
														<tr>
															<td height="35"></td>
														</tr>
														<tr>
															<td>
																<h1 style="margin:0;padding:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:21px;font-weight:bold;color:#555;text-align:center;text-decoration:none">33 popular favorites are waiting for you!</h1>
															</td>
														</tr>
														<tr>
															<td height="30"></td>
														</tr>
														<tr>
															<td height="52" style="text-align:center;padding:0;margin:0;width:100%;background-color: #56c7aa; background: linear-gradient(75deg, rgba(41,182,168,.96) 0%, rgba(86, 199, 170,.98) 120%); background: -webkit-linear-gradient(15deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%); background: linear-gradient(75deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%);border-radius:2px">
																<a style="text-decoration:none;color:#fff;font-size:18px;font-weight:bold;display:block;width:100%;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif" href="https://likeastore.com/pulse?utm_source=pulse-weekly&utm_medium=email&utm_campaign=pulse" target="_blank">Show me more</a>
															</td>
														</tr>
														<tr>
															<td height="20"></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td width="50px"></td>
						</tr>
						<tr height="15px"></tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr><td height="25"></td></tr>
		<tr>
			<td>
				<table border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
					<tbody>
						<tr>
							<td valign="top" width="150">
								<a href="https://likeastore.com" title="Likeastore" target="_blank"><img src="images/foot_logo.png" width="150" border="0" alt="Likeastore"></a>
							</td>
							<td valign="top" align="right" width="*" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:11px;line-height:15px;color:#9d9d9d">
								<span>75 Zhylianska Str., 4th Floor.</span> <span>Kyiv, Ukraine, 01032.<br></span>
								<a href="https://app.likeastore.com" style="color:#666;text-decoration:none;font-weight:bold" target="_blank">Application</a> | <a href="http://blog.likeastore.com" style="color:#666;text-decoration:none;font-weight:bold" target="_blank">Blog</a> | <a href="https://likeastore.com/unsubscribe?u=*|USERID|*" style="color:#666;text-decoration:none;font-weight:bold" target="_blank">Unsubscribe</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr><td height="30"></td></tr>
	</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</body>
